button {
    background-color: #44355b;
    color: white;
    border: 1px solid black;
    border-radius: 12px;
    font: 20px bold, "Noto Sans JP", sans-serif;
}

button:hover {
    background-color: #31263e;
}

.equalsign {
    background-color: #ee5622;
}

.equalsign:hover {
    background-color: #eca72c;
}
